@font-face {
    font-family: 'Urbanist';
    src: url(Urbanist/Urbanist-VariableFont_wght.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(Poppins-SemiBold.ttf);
}

@keyframes intro{
    from{
        opacity: 0.86;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes zoomout{
    from{
        transform: scale(2);
        opacity: 0.25;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes zoomout2{
    from{
        transform: scale(3);
    }
    to{
        transform: scale(1);
    }
}

@keyframes loadingOut {
    100%{
        visibility: hidden;
        opacity: 0;
    }
}
#colordot, #colordot2, #colordot3{
    border: #000 solid 5px;
    position: fixed;
    height: 30px;
    width: 30px;
    top: 0;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
}
#colordot{
    background-color: rgb(255, 95, 111);
    right: 0;
}
#colordot2{
    background-color: rgb(255, 255, 93);
    right: 50px;    
}
#colordot3{
    background-color: rgb(65, 255, 106);
    right: 100px;
}
.loading.hidden{
    animation: loadingOut 1s forwards;
}
.loading{
    position: fixed;
    z-index: 1000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
#loadingtxt{
    font-family: Urbanist;
    font-size: 60px;
    position: fixed;
    margin-left: 76vh;
    margin-top: -20vh;
    width: 200px;
    height: 200px;
}
#bar{
    box-shadow: #000 0px 0px 15px;
    position: fixed;
    top: -10px;
    background-color: #89cee4;
    width: 100%;
    height: 60px;
}
#obj {
    position: fixed;
    margin-left: 80vh;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#obj > div {
    width: 50%;
    height: 50%;
    position: relative;
}
#obj > div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: 	rgb(0, 163, 238);
    animation: anm-sq-7-move 2s infinite linear both;
    transform-origin: 100% 100%;
}
#obj > div::nth-child(2) {
    transform: rotateZ(90deg);
}
#obj > div::nth-child(4) {
    transform: rotateZ(180deg);
}
#obj > div::nth-child(3) {
    transform: rotateZ(270deg);
}
#obj > div:nth-child(2)::before {
    animation-delay: 0.3s;
}
#obj > div:nth-child(4)::before {
    animation-delay: 0.6s;
}
#obj > div:nth-child(3)::before {
    animation-delay: 0.9s;
}
@keyframes anm-sq-7-move {
    0%, 10% {
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

#Copyright{
   font-size: 25px;
   text-wrap: nowrap;
   bottom: 0;
   color: hsla(0, 0%, 100%, 0.55);
}
.nextBtn{
    position: absolute;
    /* margin-left: 1550px; */
    right: 25px;
    z-index: 100;   
}
.prevBtn{
    position: absolute;
    /* margin-left: 1550px; */
    left: 25px;
    z-index: 100;   
}
.prevBtn, .nextBtn{
    padding: 16px;
    cursor: pointer;
    width: auto;
    transition: 0.6s ease;
    top: 50%;
}
.prevBtn:hover, .nextBtn:hover{
    background-color: rgba(0,0,0,0.8);
}

.Container{
    width: 100%;
    height: 500px;
    left: 0;
    right: 0;
    background-color: rgb(9, 14, 41);
    position: absolute;
    animation: intro 0.5s ease;
}
.Container2{
    width: 5000px;
    height: 500px;
    background-color: rgb(9, 14, 41);
    margin-top: 1000px;
    margin-left: -100px;
    left: 0;
    position: absolute;
}
/* social medias */
.Container3{
    width: 5000px;
    height: 600px;
    background-color: rgb(9, 14, 41);
    margin-top: 2080px;
    margin-left: -100px;
    left: 0;
    position: absolute;
}
.SocialMedias{
    position: absolute;
    margin-top: 2140px;
    text-align: center;
    margin-left: 80vh;
    display: grid;
    /* move the instagram svg over */
    row-gap: 5vh;
    z-index: 50;
    font-family: Urbanist;
}

input[type=text], input[type=submit] {
    font-family: Urbanist;
    font-weight: 800;
    font-size: 20px;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    opacity: 1;
    background-color: #1986a7;
    color: white;
    border: none;
    transition: opacity 0.5s ease-out;
    will-change: opacity;
  }
  
  input[type=submit]:hover {
    opacity: 0.65;
    cursor: pointer;
  }

#instagram, #youtube, #twitter{
    font-size: 40px;
    color: #fff;
    
}
.Instagram, .Youtube, .Twitter{
    transition: all 1s ease;
}
.Instagram:hover, .Youtube:hover, .Twitter:hover{
    transform: scale(1.25);
}

#instalogo, #ytlogo, #twitlogo{
    width: 30px;
    height: 30px;
}
/* social medias */
.Links{
    position: absolute;
    z-index: 100;
    width: 200%;
    top: 0;
    height: 80px;
    margin-left: -100px;
    background-color: rgb(37, 41, 69);
}
.Links a{
    animation: navLinkAnimation 0.5s ease;
}
.MediaLinks{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    font-family: Urbanist;
    display: inline-flex;
    gap: 5em;
    margin-top: 30px;
    font-size: 30px;
    margin-left: -1250px;
    transition: color 0.5s ease;
}
a{
    color: white;
    text-decoration: none;
}
#Home::before {
    content: "";
    position: absolute;
    display: block;
    margin-top: 35px;
    margin-left: -10px;
    width: 100px;
    height: 2px;
    z-index: 5;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  #Home:hover::before {
    transform: scale(0.85);
  }
  #Admin{
    z-index: 10000;
    font-weight: 700;
    font-family: Urbanist;
    padding: 4px;
    width: 175px;
    text-shadow: none;
    background-color: rgb(255, 255, 255);
    border: #000 5px solid;
  }
  .Admin{
    margin-top: -10px;
    margin-left: -100px;
  }
  #Admincontinue{
    color: white;
    margin-top: -50px;
    margin-left: 228px;
    width: 50px;
    height: 32px;
    border: #000 solid 5px;
    background-color: rgb(25, 140, 255);
    opacity: 1;
    will-change: opacity;
    transition: opacity 0.25s ease-out;
  }
  #Admincontinue:hover{
    cursor: pointer;
    opacity: 0.85;
  }

  @keyframes growLarger{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(5);
    }
  }



  #Forum::before {
    content: "";
    position: absolute;
    display: block;
    margin-top: 35px;
    margin-left: -16px;
    width: 115px;
    height: 2px;
    z-index: 5;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  #Forum:hover::before {
    transform: scaleX(0.8);
  }
  #Gallery::before {
    content: "";
    position: absolute;
    display: block;
    margin-top: 35px;
    margin-left: -1px;
    width: 100px;
    height: 2px;
    z-index: 5;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  #Gallery:hover::before {
    transform: scaleX(1);
  }
  #About::before {
    content: "";
    position: absolute;
    display: block;
    margin-top: 35px;
    margin-left: 2px;
    width: 80px;
    height: 2px;
    z-index: 5;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  #About:hover::before {
    transform: scaleX(1);
  }
  #DownloadBtn::before {
    content: "";
    position: absolute;
    display: block;
    margin-top: 35px;
    margin-left: -2px;
    width: 100px;
    height: 2px;
    z-index: 5;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  #DownloadBtn:hover::before {
    transform: scaleX(1);
  }
/* Do something with the downloaad button since it's the last child */
.MediaLinks a:hover{
    background-color: rgb(78, 85, 124);
    transition: background-color 0.3s ease;
    /* padding: 0.1em; */
    
}
.lightbox:target{
    display: block;
}
.lightbox{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 2000;
}
#menu{
    pointer-events: all;
    /* display a table of links on this menu */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2000;
    /* animation */
    transform: translateX(-35em);
    transition: transform 1.25s .2s ease;
    will-change: transform;
}
#clickAnywhere{
    position: absolute;
    margin-left: 500px;
    height: 100%;
    width: 100%;
    z-index: 10000;
}
.menubox{
    background-color: rgb(0, 55, 107);
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    box-shadow: 5px 5px 25px 5px #000;
    z-index: 3000;
}
.menulist{
    position: absolute;
    top: 50px;
    left: 180px;
    color: #fff;
    font-size: 30px;
    display: grid;
    columns: auto auto auto;
    row-gap: 3vh;
    z-index: 5000;
}
.menulinks{
    position: absolute;
    top: 20px;
    left: 25px;
    color: #fff;
    font-size: 30px;
    display: grid;
    columns: auto auto auto;
    row-gap: 3vh;
    z-index: 5000;
}
#firstDirect, #secondDirect, #thirdDirect, #fourthDirect, #fifthDirect, #sixthDirect, #seventhDirect, #eighthDirect{
    font-family: Urbanist;
    text-wrap: nowrap;
    padding: 5px;
    background-color: transparent;
    width: 200px;
    transition: background-color 0.5s ease-out;
    will-change: background-color, transform;
}

#firstDirect:hover, #secondDirect:hover, #thirdDirect:hover, #fourthDirect:hover, #fifthDirect:hover, #sixthDirect:hover, #seventhDirect:hover, #eighthDirect:hover{
    background-color: rgba(52, 133, 209, 0.605);
}


/* .menu:target{
    display: block;
} */
/* #menu.is-visible{
    transform: translateX(-10em);
} */
.showMenu{
    animation: fadein 1.25s .2s ease;
    animation-fill-mode: forwards;
}
.hideMenu{
    animation: fadeout 2s ease;
    animation-fill-mode: forwards;
}
.exitBtn{
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(assets/close_ico.png);
    top: -50px;
    left: -25px;
    background-color: transparent;
    transition: background-color 0.5s ease-out;
    will-change: background-color;
}
.exitBtn:hover{
    background-color: rgba(52, 133, 209, 0.605)
}
@keyframes fadein {
    from{
        transform: translateX(-35em);
    }
    to{
        transform: translateX(-10em);
    }
    
}
@keyframes fadeout {
    from{
        transform: translateX(-10em);
    }
    to{
        transform: translateX(-35em);
    }
    
}

.closeBtn{
    top: 3%;
    right: 1%;
    position: absolute;
    z-index: 1;
}
.closeBtnimg{
    width: 50px;
    height: 50px;
}

#slide2{
    top: 0;
    position: absolute;
    margin-left: 500px;
}
#featured1, #featured2, #featured3{
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    aspect-ratio: 15 / 9;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    z-index: 100;
}

#featured1{
    margin-left: 520px;
    margin-top: -26vh;
}

#featured2{
    margin-left: 820px;
    margin-top: -5vh;

}
#featured3{
    margin-left: 1150px;
    margin-top: -26vh;
}
#featured-1,#featured-2,#featured-3{
    width: 380px;;
    height: 380px;
}

#Text{
    letter-spacing: 2px;
    font-size: 20px;
    width: 500px;
    text-wrap: wrap;
    margin-left: 110px;
    margin-top: 20vh;
    color: #fff;
    font-family: Urbanist;
    word-spacing: 1.5px;
    font-weight: 350;
    font-size: 25px;
}
#menubtn{
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.moreBtn{
    position: absolute;
    top: 25px;
    left: 110px;
}
#Text2{
    letter-spacing: 2px;
    font-size: 20px;
    width: 500px;
    text-wrap: wrap;
    margin-left: 220px;
    margin-top: 20vh;
    color: #fff;
    font-family: Urbanist;
    word-spacing: 1.5px;
    font-weight: 350;
    font-size: 25px;
}
.imgContainer{
    animation: hoverAnimation  0.8s ease;
    scroll-behavior: smooth !important;
    padding: 2rem;
    margin-left: 1000px;
    
}
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.parallax img{
    position: absolute;
    width: 110%;
    max-height: 100%;
    margin-top: 50vh;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    animation: zoomout 1500ms ease;
}

.parallax img:last-child{
    position: absolute;
    width: 110%;
    max-height: 100%;
    margin-top: 205vh;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    z-index: -2;
}

@keyframes fade {
    from{
        opacity: 0.9;
    }
    to{
        opacity: 1;
    }
}

.fade.is-visible{
    opacity: 1;
}

.fading{
    animation-name: fading;
    animation-duration: 0.35s;
}
@keyframes fading {
    from {opacity: .4}
    to {opacity: 1}
}

.inline-photo{

    opacity: 0;
    transform: scale(1.5);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;

    will-change: transform, opacity;
}
.photo-animation {
    border: 1em solid #fff;
    border-bottom: 4em solid #fff;
    border-radius: .25em;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin: 2em auto;
    opacity: 0;
    transform: translateY(4em) rotateZ(-5deg) scale(1);
    transition: transform 4s .165s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    max-width: 380px;
    width: 100%;
    will-change: transform, opacity;
  }
  .photo-animation.is-visible {
    opacity: 1;
    transform: rotateZ(3.5deg);
  }
  .photo-animation:hover{
    transform: scale(1.15);
  }

  .photo-animation2 {
    border: 1em solid #fff;
    border-bottom: 4em solid #fff;
    border-radius: .25em;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin: 2em auto;
    opacity: 0;
    transform: translateY(4em) rotateZ(-10deg) scale(1);
    transition: transform 4s .165s cubic-bezier(0,1,.3,1),
                opacity .32s .27s ease-out;
    max-width: 380px;
    width: 100%;
    will-change: transform, opacity;
  }
  .photo-animation2.is-visible {
    opacity: 1;
    transform: rotateZ(-2deg);
  }
  .photo-animation2:hover{
    transform: scale(1.15);
  }

  .photo-animation3 {
    border: 1em solid #fff;
    border-bottom: 4em solid #fff;
    border-radius: .25em;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin: 2em auto;
    opacity: 0;
    transform: translateY(4em) rotateZ(1deg) scale(1);
    transition: transform 4s .165s cubic-bezier(0,1,.3,1),
                opacity .35s .35s ease-out;
    max-width: 380px;
    width: 100%;
    will-change: transform, opacity;
  }
  .photo-animation3.is-visible {
    opacity: 1;
    transform: rotateZ(-5deg);
  }

.inline-photo.is-visible{
    opacity: 1;
    transform: scale(1);
}
.photo-animation3:hover{
    transform: scale(1.15);
  }

.socials{
    opacity: 0;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1), 
                opacity .5s .25s ease-out;
    will-change: transform, opacity;
    transform: translateY(20px);
}

.socials.is-visible{
    opacity: 1;
    transform: translateY(0px);
}

/* #testimg, #testimg2{
    opacity: 0;
} */

#testimg.is-visible{
    animation: zoomout 1500ms ease;
}

#testimg2.is-visible{
    animation: zoomout 1500ms ease;
}

#ParallaxText1{
    font-size: 40px;
    margin-left: 355px;
    margin-top: 730px;
    position: absolute;
    font-family: Poppins;
    font-weight: 1000;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 0;
    /* animation: zoomout 1600ms ease; */
}
#ParallaxText2{
    font-size: 40px;
    margin-left: 355px;
    margin-top: 1710px;
    position: absolute;
    font-family: Poppins;
    font-weight: 1000;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(25, 42, 61);
}

.Games{
    width: 260px;
	height: 260px;
	border: solid 2px #000;
    transition: opacity 0.6s ease;

}


.Games:hover{
    opacity: .5;
    
}


html, body{
height: 100%;
}

.slider{
    overflow-y: hidden;
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.fadeOnCLick {
    animation-name: fadeOnCLick;
    animation-duration: 1.5s;
  }
  
  @keyframes fadeOnCLick {
    from {opacity: .4}
    to {opacity: 1}
  }
.dot, .dot2, .dot3{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #797979;
    opacity: 80%;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.mySlides {
    top: 0;
    aspect-ratio: 16/9;
    /* display: none; */
  }
.dot:hover, .dot2:hover, .dot3:hover, .active {
    background-color: #fff;
  }
.slider a{
    /* animation: sliderAnimation 25s ease-in-out alternate infinite; */
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    border: #000 1.5px solid;
    border-radius: 50%;
    opacity: 0.35;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 0.75;
}

/* --------------------- gallery -------------------- */
.gallery{
    position: absolute; 
    top: 20%;
    margin-left: 4%;
    width: 200vh;
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
    background-color: rgb(122, 176, 193);
    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    z-index: 0;

}

.developer{
    top: 26%;
    font-size: larger;
    font-weight: 600;
    font-family: Urbanist;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    display: flex;
    padding-left: 9%;
}

.Search{
    width: auto;
    height: 200px;
    background-color: #1986a7;
}


#searchForm {
    position: relative;
    top: 70%;
    left: 10%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 350px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 4px;
    border: 4px solid white;
    padding: 5px;
  }
  
  input[type=search] {
    font-family: Urbanist;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
  }
  
  .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
  }
  #searchForm:focus-within,
  #searchForm:hover,
  #searchForm:valid{
    width: 400px;
    cursor: pointer;
  }
  
  #searchForm:hover input,
  #searchForm:focus-within input,
  #searchForm:valid input {
    width: 100%;
  } 
  
  #searchForm:hover .fa,
  #searchForm:focus-within .fa,
  #searchForm:valid .fa {
    background: #07051a;
    color: white;       
  }
  

.gallery > img 
{
    border: rgb(0, 0, 0) 5px solid;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .gallery{
        --num-cols: 2;
        --row-height: 200px;
    }   
}

legend{
    /* adjust where the credit text goes */
}

@keyframes lightbox_up {
    from{
        transform: translateY(15px);
    }
    to{
        transform: translateY(0px);
    }
    
}

.enlarged{
    animation: lightbox_up forwards 0.65s ease-out;
}

.enlarged{
    border: solid #000 3px;
    margin: 				auto;
	max-height: 			85%;
	max-width: 				85%;
	position: 				absolute;
	top: 					0;
	left: 					0;
	right: 					0;
	bottom: 				0;
}
 
.leftarrow{
    left: 75px;
    top: 30%;
    position: absolute;
    width: 70px;
    height: 180px;

    background-color: rgb(39, 53, 98);
}
.rightarrow{
    left: 1575px;
    top: 30%;
    position: absolute;
    width: 70px;
    height: 180px;
    z-index: 3000;
    background-color: rgb(39, 53, 98);
}

.rightbtn{
    right: 0;
}
@keyframes sliderAnimation
{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%)}
    60%{transform: translateX(-200%);}
    70%{transform: translateX(-200%);}
    80%{transform: translateX(-200%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
    
}

@keyframes hoverAnimation{
    from{
        transform: translateY(-10px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes navLinkAnimation{
    from{
        opacity: 0;
        transform: translateY(3px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
legend {
    -webkit-text-stroke: #fff 1.2px;
    float: left;
    position: absolute;
    bottom: 4px; /* manually repositioned to better align the text along the border */
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0 5px;
    font-family: Urbanist;
    font-size: 32px;
    color: transparent;
    font-weight: 800;
    background: rgb(0, 0, 0); /* acts like the color property */
   -webkit-background-clip: text;
    background-clip: text;
  }